.advertising-section {
	background-color: white;
}

.advertising-container {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	.launch-image {
		width: 30%;
	}

	.image-col {
		width: 50%;
	}
	.text-col {
		width: 50%;
		.title-text {
			font-size: 25pt;
		}
	}
}