.homepage {
	height: 100vh;
	width: 100vw;
	background-color: rgba(50, 50, 50, 1);
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	height: 100%;
	width: 100%;
}

.home-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: white;
	height: 50%;
	align-items: center;

	.text-div {
		width: 50%;
		.title-text {
			font-size: 35pt;
		}
		.desc-text {
			font-size: 15pt
		}
	}

	.form-div {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.form-container {
			width: 70%;
			height: 100%;
			max-height: 250px;
			min-width: 300px;
			background-color: rgba(235, 69, 110, 1);
			display: block;
			margin: auto;
			border-radius: 4px;

			.signup-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: 20px 40px;

				.form-title {
					margin-bottom: 2rem;
				}
			
				.inputs-container {
					margin-bottom: 1rem;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					.input-field {
						width: 100%;
						font-family: "Roboto", sans-serif;
						width: auto;
						border-radius: 3px;
						font-size: 14pt;
						padding: 0.4rem;
						border: 1px solid rgba(0, 0, 0, 0.5);
						margin-bottom: 0.6rem;

						&:focus {
							outline: none;
						}
					}

					.submit-button {
						width: 100%;
						font-family: "Ubuntu", sans-serif;
						font-weight: 800;
						background-color: #fff;
						outline: none;
						border-radius: 2px;
						border: none;
						padding: 10px; 
					}

				}
				

				
			}
		}
	}
	
}